body {
    font-family: "Roboto";
}
.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: gray;
}

ul {
    display: flex;
}
li {
    list-style: none;
}

.header {
    height: 100vh;
    background-image: url("Books 3.png");
    background-repeat: no-repeat;
    background-position: center;
}
h2 {
    height: 18px;
}
.first-person {
    height: 18px;
}
.second-person {
    height: 18px;
}

.circle1 {
    background-image: url("Ola1.png");
    background-position: center;
    object-position: left;
    border-radius: 50%; 
    width: 250px;        height: 250px;
    display: flex;
}
.circle2 {
    background-image: url("Ola1.png");
    background-position: center;
    align-items: right;
    border-radius: 50%; 
    width: 250px;        height: 250px;
    display: inline-block;
}
.header-primary {
    color: white;
    font-size: 36px;
    margin: 178px 609px 349.89px 94px;
    overflow-wrap: break-word;
}
.header-secondary {
    color: white;
    font-size: 18px;
    
}

.services {
    color: white;
    text-align: right;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #405D78;
}
.box-list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-flow: row wrap;
    width: 720px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    position: relative;
    background-color: white;
    width: 198px;
    height: 193.78px;
    margin: 20px;
}

.box:hover {
    transform: scale(1.05);
}



.footer {
    background-color: #4E4E4E;
    color: white;
    width: 1280px;
    height: 71px;
}